body{
    background-color: rgb(228, 209, 217);
    padding: 2rem;
}
.container{
    height: 93vh;
    width: 100%;
    border: 1px blue;
    display: flex;
    justify-content: space-between;
    
}
/* PARTIE ONE */
.one{
    
    display: flex;
    flex-direction: column;
    height: 93vh; 
    width: 19%;
    
    border-radius: 0.5rem;
}
.carton-haut{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    height: 69vh;
    box-shadow: 0 0 15px rgb(133, 131, 131);
}
.mini-carton-haut{
    height: 29vh;
}
.mini-carton-bas{
    height: 29vh;
}
.carton-bas{
    margin-top: 2rem;
    background-color: white;
    border-radius: 2rem;
    height: 38vh;
    box-shadow: 0 0 15px rgb(133, 131, 131);
}
/* PARTIE TWO */
.two{
    height: 93vh; 
    width: 74%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgb(133, 131, 131);
    overflow: hidden;
}
.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none; 
}
/* PARTIE THREE */
.three{
    height: 93vh; 
    width: 4%;
    margin-bottom: 1rem;
}
.three .small{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 1rem 0;
    background-color: yellow;
    box-shadow: 0 0 15px rgb(133, 131, 131);
    border-radius: 5rem;
}
.three .big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 77vh;
    background-color: white;
    box-shadow: 0 0 15px rgb(133, 131, 131);
    border-radius: 2rem;
}

.icon{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;
}
#small{
    color: black;
    font-size: 2.5rem;
}
